.books {
  padding-top:140px;
  &__title {
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: 500;
      font-size: 48px;
      text-align: center;
      color: #19272E;
    }


    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #818EEA;
      margin-top: 20px;
    }
  }

  .slick-dots{
    bottom: -40px;
  }
  .slick-track{
  }
  .slick-slide{
    //padding: 0 20px;
  }
  img{
    width: 200px;
    height: 300px;
  }
  &__anyBooks {
    padding: 80px 0 0 0;
    h2 {
      font-weight: 700;
      font-size: 22px;
      color: #19272E;
      width: 150px;
      padding: 20px 0;
    }
    p{
      font-weight: 400;
      font-size: 16px;
      color: #19272E;
    }
  }
}
@media (max-width: 768px){
  .slick-slide{
    //max-width: 150px;
  }
  .slick-slide h2 {
    font-size: 24px;
  }

  .slick-slide p {
    font-size: 12px;
  }
}

@media (max-width: 568px) {
  .books{
    &__title{
      h1{
        font-size: 24px;
        margin-top: 10px;
      }
    }
  }
  .books__anyBooks {
    padding: 40px 0;

    h1 {
      font-size: 16px;
      width: 150px;
    }
    p{
      font-size: 14px;
    }
  }

  .slick-slide {
    padding: 0 20px;
  }
  .slick-track{
    gap: 20px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 18px;
  }

  .slick-slider {
    margin: 0 -10px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  //.slick-slide img {
  //  max-height: 150px;
  //  border-radius: 10px;
  //  display: block;
  //}

  .slick-slide h2 {
    font-size: 14px;
  }

  .slick-slide p {
    font-size: 12px;
  }

  .slick-dots {
    bottom: -30px;
  }
}
//@media only screen and (max-width: 380px){
//  .books{
//    &__title{
//      h1{
//      font-size: 24px;
//      }
//    }
//  }
//  .slick-slide {
//    padding: 0 25px;
//  }
//  //img{
//  //  width: 100px;
//  //  height: 100px;
//  //}
//  .slick-list{
//    margin-left: 20px;
//  }
//}
@media only screen and (max-width: 360px) {

  .books__anyBooks {
    padding: 30px 0;

    h1 {
      font-size: 14px;
      width: 120px;
    }
    p{
      font-size: 12px;
    }
  }

  .slick-slide {
    padding: 0 25px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 14px;
  }

  .slick-slider {
    margin: 0 -5px;
  }

  .slick-list {
    margin: 0 -5px;
  }

  .slick-slide img {
    max-height: 150px;
    gap: 20px;
  }

  .slick-slide h2 {
    font-size: 12px;
  }

  .slick-slide p {
    font-size: 10px;
  }

  .slick-dots {
    bottom: -20px;
  }
}
